body {
  background: #fff;
  margin: 0;
  padding: 0;
}

header {
  background: #fafafa;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

header a {
  box-sizing: border-box;
  width: 25%;
  display: inline-block;
  margin-left: -3px;
  text-align: center;
  padding: 12px;
}

.fas {
  color: lll;
  font-size: 25px;
}

a:hover .fa-heart {
  color: red;
}

.container {
  background: #fafafa;
  padding-top: 50px;
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
}

.container .card {
  background: #fff;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
