@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

header {
  background: #fafafa;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

header a {
  box-sizing: border-box;
  width: 25%;
  display: inline-block;
  margin-left: -3px;
  text-align: center;
  padding: 12px;
}

.fas {
  color: #111;
  font-size: 25px;
}

.far {
  color: #111;
  font-size: 25px;
}

a:hover .fa-heart {
  color: red;
}

.container {
  background: #fafafa;
  padding-top: 50px;
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
}

.container .card {
  background: #fff;
  margin: 0 auto;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.card-header {
  padding: 15px;
}

.profile-img,
.profile-info,
.profile-time {
  display: inline-block;
}

.profile-img {
  background: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.username {
  font-weight: 700;
}

.profile-name {
  color: #111;
  font-size: 14px;
}

.profile-location {
  color: #111;
  font-size: 12px;
}

.profile-time {
  float: right;
  font-size: 10px;
  top: 10px;
  position: relative;
}

.content img {
  width: 100%;
}

.card-footer {
  padding: 15px;
  box-sizing: border-box;
}

.description p {
  margin: 0;
  font-size: 14px;
  padding: 0 0 5px 0;
}

.likes {
  color: #405de6;
  font-size: 12px;
  padding-bottom: 10px;
}

.comments p {
  font-size: 14px;
  margin: 0;
  padding: 0 0 5px 0;
}

form {
  padding-top: 15px;
}

form .far {
  font-size: 24px;
  font-weight: 100;
}

form .heart {
  display: inline-block;
  width: 7%;
  position: relative;
  top: 3px;
}

form .add-comment {
  display: inline-block;
  width: 70%;
}

form .options {
  display: inline-block;
  width: 7%;
  float: right;
  position: relative;
  top: 3px;
}

.add-comment input {
  width: 100%;
  padding: 5px;
  border: 0 solid #fff;
}

form:hover .fa-heart {
  color: red;
  cursor: pointer;
}

hr {
  padding: 0;
}
